div {
  background-color: hsl(27, 50%, 29%);
  color: #ffa;
  font-size: 28px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  box-shadow: 6px 6px 18px -4px rgba(0, 0, 0, 0.64);
  &:hover {
    background-color: hsl(27, 50%, 59%);
  }
  &:active {
    background-color: hsl(27, 50%, 89%);
    color: #884;
  }
  transition: all 50ms ease-in-out;
}
